---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TNSS0kT4xs0X7nHum9xRRvG6C", oauth_nonce="9016dda85f7411356537edb79be73727",
        oauth_signature="TZOG4BV2YqMpdH1b9ptyo461Mig%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450309477", oauth_token="4559941044-epiVB5efKlOtz7KZqFsuoaazlgw4PJy45n5MrHI",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 16 Dec 2015 23:44:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 62c6b10efd78b0a88bf0d74c603643a1
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450310377'
      X-Response-Time:
      - '28'
      X-Transaction:
      - e06873b7e666df6d
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":4559941044,"id_str":"4559941044","name":"MattsApicuriousacct","screen_name":"MattsApicouri","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":8,"listed_count":0,"created_at":"Mon
        Dec 14 21:44:11 +0000 2015","favourites_count":3,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":11,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Wed, 16 Dec 2015 23:44:37 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&user_id=4559941044
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TNSS0kT4xs0X7nHum9xRRvG6C", oauth_nonce="680bfa5c607ebd04b8100471e1a1a1c1",
        oauth_signature="SP790HB3ySzjHGFTXQmKk0%2FHqmI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450309477", oauth_token="4559941044-epiVB5efKlOtz7KZqFsuoaazlgw4PJy45n5MrHI",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 16 Dec 2015 23:44:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b8317296d8c702b2794d74c763c9fdd9
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450310379'
      X-Response-Time:
      - '37'
      X-Transaction:
      - f185685d9baba537
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":74916200,"id_str":"74916200","name":"thew88","screen_name":"Matt_Stj","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":3,"friends_count":17,"listed_count":2,"created_at":"Thu
        Sep 17 02:55:57 +0000 2009","favourites_count":3,"utc_offset":-25200,"time_zone":"Mazatlan","geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","status":{"created_at":"Tue
        Jul 14 03:17:45 +0000 2015","id":620794282241228800,"id_str":"620794282241228800","text":"@InVisionApp.
        Use it.","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":256093789,"in_reply_to_user_id_str":"256093789","in_reply_to_screen_name":"InVisionApp","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"InVisionApp","name":"InVision","id":256093789,"id_str":"256093789","indices":[0,12]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/584605732009410560\/0tJqPRWs_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/584605732009410560\/0tJqPRWs_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false}],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Wed, 16 Dec 2015 23:44:39 GMT
recorded_with: VCR 3.0.0
