---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TNSS0kT4xs0X7nHum9xRRvG6C", oauth_nonce="c0f01e96741d31b66f1fe0c24b6cb108",
        oauth_signature="L%2Br94sqkqflrR6sZu4RWXhGKxwQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450311042", oauth_token="4559941044-epiVB5efKlOtz7KZqFsuoaazlgw4PJy45n5MrHI",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 00:10:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f1e8ac8ff0c8a6dbf079511796571471
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1450311942'
      X-Response-Time:
      - '34'
      X-Transaction:
      - c0cf1d70d2424398
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Dec 16 22:15:59 +0000 2015","id":677250849295364096,"id_str":"677250849295364096","text":"Testing
        another way of posting","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\"
        rel=\"nofollow\"\u003eMattsTestOauth\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":4559941044,"id_str":"4559941044","name":"MattsApicuriousacct","screen_name":"MattsApicouri","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":8,"listed_count":0,"created_at":"Mon
        Dec 14 21:44:11 +0000 2015","favourites_count":3,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":11,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Dec 16 20:39:27 +0000 2015","id":677226552669683712,"id_str":"677226552669683712","text":"I''m
        posting a tweet through the twitter API, yay!","source":"\u003ca href=\"http:\/\/twitter-curious.herokuapp.com\/\"
        rel=\"nofollow\"\u003etwitter-curious\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user[...]
