---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TNSS0kT4xs0X7nHum9xRRvG6C", oauth_nonce="52ec12e603613472135a6be457610fed",
        oauth_signature="xCKMa2jqyA6w3bXTyxNUZhG%2BFtQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450309947", oauth_token="4559941044-epiVB5efKlOtz7KZqFsuoaazlgw4PJy45n5MrHI",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 16 Dec 2015 23:52:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 64bd8609019730a438c6db7e5b00115b
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1450310377'
      X-Response-Time:
      - '18'
      X-Transaction:
      - ce4cc12d202262e6
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":4559941044,"id_str":"4559941044","name":"MattsApicuriousacct","screen_name":"MattsApicouri","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":8,"listed_count":0,"created_at":"Mon
        Dec 14 21:44:11 +0000 2015","favourites_count":3,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":11,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Wed, 16 Dec 2015 23:52:27 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=4559941044
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TNSS0kT4xs0X7nHum9xRRvG6C", oauth_nonce="b5a8e2f61e6284552fe4d8ee5c52135f",
        oauth_signature="dG6XxIFSfy6YNQg0L8Q%2FRz3KHO0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450309947", oauth_token="4559941044-epiVB5efKlOtz7KZqFsuoaazlgw4PJy45n5MrHI",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 16 Dec 2015 23:52:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6f98167a81e8b0cd40674da36e4b55b8
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450310847'
      X-Response-Time:
      - '66'
      X-Transaction:
      - ac35e976c6b425e3
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":807095,"id_str":"807095","name":"The New York Times","screen_name":"nytimes","location":"New
        York City","description":"Where the conversation begins. Follow for breaking
        news, special reports, RTs of our journalists and more from https:\/\/t.co\/YapuoqX0HS.","url":"http:\/\/t.co\/ahvuWqicF9","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ahvuWqicF9","expanded_url":"http:\/\/www.nytimes.com\/","display_url":"nytimes.com","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/YapuoqX0HS","expanded_url":"http:\/\/NYTimes.com","display_url":"NYTimes.com","indices":[111,134]}]}},"protected":false,"followers_count":22299483,"friends_count":987,"listed_count":170738,"created_at":"Fri
        Mar 02 20:41:42 +0000 2007","favourites_count":8847,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":211087,"lang":"en","status":{"created_at":"Wed
        Dec 16 23:47:34 +0000 2015","id":677273894068293633,"id_str":"677273894068293633","text":"Teenager
        who used \"affluenza\" defense in fatal crash is missing https:\/\/t.co\/lY16wU85C2
        https:\/\/t.co\/fiWLO3TdAW","source":"\u003ca href=\"http:\/\/www.socialflow.com\"
        rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":32,"favorite_count":23,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/lY16wU85C2","expanded_url":"http:\/\/nyti.ms\/1QNGWQe","display_url":"nyti.ms\/1QNGWQe","indices":[64,87]}],"media":[{"id":677273892998799360,"id_str":"677273892998799360","indices":[88,111],"media_url":"http:\/\/pbs.twimg.com\/media\/CWYpBG_W4AAFpjk.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/CWYpBG_W4AAFpjk.png","url":"https:\/\/t.co\/fiWLO3TdAW","display_url":"pic.twitter.com\/fiWLO3TdAW","expanded_url":"http:\/\/twitter.com\/nytimes\/status\/677273894068293633\/photo\/1","type":"photo","sizes":{"large":{"w":999,"h":560,"resize":"fit"},"medium":{"w":600,"h":336,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":190,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"131516","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/736339684\/948f072cc2da4e3a5e9f2ebfb3b1a0e7.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/736339684\/948f072cc2da4e3a5e9f2ebfb3b1a0e7.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2044921128\/finals_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2044921128\/finals_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/807095\/1355346050","profile_link_color":"607696","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":5402612,"id_str":"5402612","name":"BBC
        Breaking News","screen_name":"BBCBreaking","location":"London, UK","description":"Breaking
        news alerts and updates from the BBC. For news, features, analysis follow
        @BBCWorld (international) or @BBCNews (UK). Latest sport news @BBCSport.","url":"http:\/\/t.co\/vBzl7LOaso","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/vBzl7LOaso","expanded_url":"http:\/\/www.bbc.co.uk\/news","display_url":"bbc.co.uk\/news","indices":[[...]
