<div class="row">
  <div class="col-md-3">
    <%= render '/shared_user/left_column' %>
  </div>

  <div class="col-md-6">
    <%= render '/shared_user/center_column' %>
  </div>

  <div class="col-md-3">
    <%= render '/shared_user/right_column' %>
  </div>
</div>
