<div class="jumbotron">
  <div class="container">
    <h1>Are you Twitter-curious?</h1>
    <p>Sign in with your Twitter details below and see what's going on in your Twittersphere!</p>
    <p><%= link_to "Login with Twitter »", login_path, class: "btn btn-primary btn-lg", role: "button" %></p>
  </div>
</div>
