<div class="well">
  <h6 class="text-center">My Feed</h6>
  <table class="table borderless table-hover">
    <col width="10%">
    <col width="90%">
    <thead>
      <tr>
        <th><!--placeholder for image --></th>
        <th><!--placeholder for text --></th>
      </tr>
    </thead>
    <tbody>
      <% @tweets[0..2].each do |tweet| %>
        <tr>
          <td><img src="<%= tweet.user.profile_image_url%>" alt="tweeter" class="img-rounded" /></td>
          <td><p class="tweet-text"><%= tweet.text %></p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
