@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #F5F8FA;
}

.well {
  background-color: #fff;
}

.navbar-default {
  background-color: #fff;
}

.nav-img {
  height: 25px;
}

.borderless td, .borderless th {
    border: none;
}

.table th, td {
  font-weight: lighter;
  font-size: 16px;
  table-layout: fixed;
  word-wrap: break-word;
}

.tweet-text {
  font-weight: lighter;
  font-size: 16px;
}

.tweet-text-handle {
  font-size: 12px;
  font-weight: 500;
}

.mini {
  font-size: 12px;
  font-weight: lighter;
}

.mini-time {
  font-size: 10px;
  font-weight: lighter;
}

#favorite:hover {
  color: black;
}

#unfavorite:hover {
  color: #ccc;
}

.table-number-links {
  font-weight: 400;
}

.all-tweets {
  color: gray;
  font-size: 10px;
}
